body {
	padding: 10px;
	margin: 0;
	background-color: #f9534d;
}

h1 {
	text-align: center;
	text-decoration: underline;
}

p {
	float: right;
}

.clearfix {
	clear: both;
}
.nav-default {
	float: left;
}

.container {
	margin-top: 20px;
	border: 1px solid black;
}
